#################################################################################################
# Constants
#################################################################################################

[defaults]

[env|admin]
user                    = XXXXX
group                   = XXXXX
pass                    = XXXXX
key                     = XXXXX
prefix                  = /etc/XXXXX

[env|hudson]
server                  = jenkins-server.com
user                    = jenkins


#################################################################################################
# Our Jenkins server and the deployment packages
#################################################################################################

[env|jenkins]
host                    = jenkins-server.com
port                    = 8080

prefix                  = http://${env|jenkins:host}:${env|jenkins:port}/job
postfix                 = lastSuccessfulBuild/artifact/*zip*/archive.zip

## URLs where we can obtain the latest Jenkins artifacts
project1_ar             = ${env|jenkins:prefix}/XXXXX/${env|jenkins:postfix}

## all the artifacts
artifacts               = ${env|jenkins:project1_ar}
                          
[env|packages]
## the debian packages we want to deploy: maybe we do not include all the debs
debs                    = XXXXX*.deb

[env|qa]
script                  = /usr/bin/tester

#################################################################################################
# Configuration files
#################################################################################################

[env|templates]
local_dir               = /config
files                   = XXXXX.conf

#################################################################################################
# Roles definitions
#################################################################################################

[role|testing]
testing.com             =

[role|production]
production.com          =

#################################################################################################
# Machines
#################################################################################################

[host|testing.com]
HOSTNAME                = testing.com

[host|production.com]
HOSTNAME                = production.com





